<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://learn.village88.com/assets/black_ninja-9adea777014ced1d5d36046555cf036c.ico?v=2" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <script src="https://kit.fontawesome.com/929adf1879.js" crossorigin="anonymous"></script>
        <title>Village88 | NodeJS (Express) | Survey Form</title>
    </head>
    <body>
        <header>
            <h1>Survey Form</h1>
        </header>
        <section>
            <div id="message"></div>
            <form id="form">
                <label>Your Name: <input type="text" id="name"></label>
                <label>Dojo Location:
                    <select id="dojo_location">
                        <option value=""></option>
                        <option value="Vice City">Vice City</option>
                        <option value="San Andreas">San Andreas</option>
                        <option value="Liberty City">Liberty City</option>
                    </select>
                </label>
                <label>Favorite Language:
                    <select id="fave_language">
                        <option value=""></option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="PHP">PHP</option>
                        <option value="Python">Python</option>
                    </select>
                </label>
                <label>Comment (optional):
                    <textarea id="comment"></textarea>
                </label>
                <input type="submit" class="submit" value="Submit">
            </form>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            $(document).ready(function(){
                const form = document.querySelector("#form");
                const socket = io();

                $("#form").submit(function(e){
                    e.preventDefault();
                    let form_data = {
                        name: $("#name").val(),
                        dojo_location: $("#dojo_location").val(),
                        fave_language: $("#fave_language").val(),
                        comment: $("#comment").val(),
                    }
                    $(this)[0].reset();

                    socket.emit("posting_form", {form_data: form_data});
                });

                socket.on("updated_message", data => {
                    $("#message").html(`<p>${data.message.main}</p><p>${data.message.random}</p>`);
                });
            });
        </script>
    </body>
</html>